# local installed dependencies
node_modules/
dist/
frontend/node_modules/

# local build
wwwroot/

# local development
nodemon.json
jest.config.js
jest.e2e.config.js

# database development
data/ 
migrations/
todos_db.sql
knexfile.js

# environment variables
.env
.env.template
.env.test

# tools configuration
.prettierrc
